@using Realtair.Framework.Core.Web.Utilities
@model Realtair.Framework.Core.Actions.Providers.SearchResults
@{ Layout = ""; }

@if (!Model.AllowMultipleSelection)
{
    foreach (IDescribable result in Model.Value)
    {
        <li class="list-group-item">
            <a class="panel-heading" href="@Html.Raw(result.GetUrl(Html.LoggedInUser(), Url))">
                <span class="icon @Html.IconForDescribable(result) pull-left icon-hero hidden-xs"></span>
                <div class="inner-content">
                    <strong>@result.Description(Html.LoggedInUser())</strong>
                    <em>@result.ActualType().Name.DisplaySafeName()</em>
                </div>
                <div class="clearfix"></div>
            </a>
        </li>
    }
}
else {
    foreach (var result in Model.Value.ToList())
    {
        var e = result as Entity;
        <div class="multi-select-field-item" id="objectId_@e.Id" optionid="@e.Id" uniquename="@Model.SetName">
            <i class="fa fa-times tick"></i>
            <div class="pull-left">
                <span class="icon @Html.IconForDescribable(result) pull-left icon-hero hidden-xs"></span>
            </div>

            <div class="inner-content">
                <strong class="title">@result.Description(Html.LoggedInUser())</strong>
                <p><em>@result.ActualType().Name.DisplaySafeName()</em></p>
            </div>
        </div>
    }
}