@model Realtair.Framework.Core.Actions.Providers.SearchResults

<body>
    <header id="section-header" class="header-admin" role="banner" style="margin-bottom: 15px;">
        <div class="bg-header">
            <div class="overlay-gradient-radial"></div>
            <div class="overlay-gradient-linear"></div>
            <div class="bg-default" style='background-image: url("/content/img/background-desk.jpg");'></div>
        </div>

        @if (Html.ShouldShowMenu(Request))
        {
            @Html.Partial("Menu");
        }
        else
        {
            @Html.Partial("BackMenu")
        }

        <div class="header-content">
            <div class="clearfix"></div>
            <div class="title-hero">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h1 style="margin-top: 30px;">@Model.SetName <small>search</small></h1>
                        </div>
                        <div class="col-sm-8">
                            <div class="box-btn">
                                <div class="row">
                                    @if (Model.ActionLinks != null)
                                    {
                                        var offset = 4 - Model.ActionLinks.Count();
                                        if (offset > 0)
                                        {
                                            <div class="hidden-xs col-sm-@(offset * 3)">&nbsp;</div>
                                        }

                                        foreach (var action in Model.ActionLinks)
                                        {
                                            <div class="col-xs-6 col-sm-3">
                                                <a class="btn btn-primary ellipsis" href="/@action.Url" title="#">
                                                    @action.Description
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input id="search-box" name="query" type="text" placeholder="Search..." style="margin-top: 30px; margin-bottom: 20px;width: 100%;padding: 10px 15px;border: none;background: rgba(255,255,255,0.3);border-bottom: 3px solid #fff;font-size: 1.2em;/* background-color: white; */" value="@Model.Query">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="clearfix"></div>

    <main role="main" id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <ul class="list-group" id="results">
                            @Html.Partial("Results", Model)
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        var timeoutID = null;

        $('#search-box').on('input', function () {
            console.log('did debounce')
            clearTimeout(timeoutID);
            timeoutID = setTimeout(function () { search(); }, 300);
        });

        function search() {            
            $.post("@Request.Url.AbsolutePath?query=" + $("#search-box").val(), function (data) {
                $("#results").html(data);
            });
        }
    </script>
</body>