@using Realtair.Framework.Core.Actions.Providers
@model Realtair.Framework.Core.Web.Controllers.SearchController.SearchViewModel

@Html.Partial("Menu")
<div id="page-wrapper" class="">
    <!-- Search Bar  -->
    <div class="header m-b-15">
        <div class="container">
            <div class="input-group">
                <input id="search-box" name="query" type="text" placeholder="Find @Model.Results.SetName" class="form-control" value="@Model.Results.Query" autofocus onfocus="this.value = this.value;" />
                <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
        @if (Model.Provider is ISearchProviderWithActions)
        {
            <div class="container">
                <div class="row m-t-20">
                    @foreach (var action in (Model.Provider as ISearchProviderWithActions).Actions())
                    {
                        <div class="col-md-3">
                            <a href="@action.GetUrl(Html.LoggedInUser(), Url)?ReturnUrl=@Request.Url.AbsolutePath" class="btn btn-success btn-md btn-outline btn-rounded">@action.Description(Html.LoggedInUser())</a>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
    <!-- End of Search Bar  -->
    <!-- Search Results  -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-wrapper collapse-in">
                        <ul id="results" class="list-group">
                            @Html.Partial("Results", Model.Results)
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Search Results  -->
</div>

@Html.Partial("Footer")

@section Scripts {
    <script>
        var timeoutID = null;

        $('#search-box').on('input', function () {
            clearTimeout(timeoutID);
            timeoutID = setTimeout(function () { search(); }, 300);
        });

        function search() {
            $.post("@Request.Url.AbsolutePath?query=" + $("#search-box").val(), function (data) {
                $("#results").html(data);
            });
        }
    </script>
}

@section Styles {
    <style>
        #page-wrapper .header {
            padding: 10px 0;
            margin-top: -15px;
            background: url("https://static.realtair.com/plugins/images/header_bg.jpg");
            background-position: center left;
        }

            #page-wrapper .header .input-group {
                margin-bottom: 10px;
            }

                #page-wrapper .header .input-group input {
                    padding: 25px;
                }

                    #page-wrapper .header .input-group input:focus {
                        border-color: #e4e7ea;
                    }


        @@media (min-width: 768px) {
            #page-wrapper .header {
                margin-top: -26px;
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }

        a.action {
            font-size: 18px;
            color: #fff;
            font-weight: 400;
        }

            a.action:hover {
                color: #ff4637;
                transition: color ease-in 0.2s;
            }

            a.action i {
                font-size: 25px;
                display: block;
                margin-bottom: 15px;
            }

        #page-wrapper li.list-group-item {
            padding: 15px 20px;
            border-left: none;
            border-right: none;
        }

            #page-wrapper li.list-group-item a {
                color: #313131;
            }

                #page-wrapper li.list-group-item i, #page-wrapper li.list-group-item b, #page-wrapper li.list-group-item a.btn {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: block;
                    max-width: 100%;
                    font-style: normal;
                }


            #page-wrapper li.list-group-item .empty-filler * {
                display: inline-block;
            }
    </style>
}