@using Realtair.Framework.Enquiries.Entities
@using Realtair.Framework.Core.Web.Utilities
@using Realtair.Framework.Core.Entities.Display
@model Realtair.Framework.Core.Interfaces.IDisplayable

@Html.Partial("Menu")

<div id="page-wrapper" class="with-background">
    <div class="container">
        @foreach (var section in Model.Sections(Html.LoggedInUser()))
        {
            var widgetView = $"Widgets/_{section.GetType().Name.Substring(0, section.GetType().Name.Length - "Widget".Length)}";

            if (Html.ViewExists(widgetView))
            {
                Html.RenderPartial(widgetView, section);
            }
            else
            {
                <p>Cannot render widget view</p>
            }
        }
        @*@if (Model != null)
            {
                <div class="panel panel-default">
                    <div class="panel-wrapper collapse in">
                        <div class="vtabs customvtab">
                            <div class="col-sm-4">
                                <ul class="nav tabs-vertical" style="width: 0;">
                                    @if (Model.Sections(Html.LoggedInUser()).Where(w => w is ListWidget) != null)
                                    {
                                        for (var listNo = 0; listNo < Model.Sections(Html.LoggedInUser()).Where(w => w is ListWidget).Count(); listNo++)
                                        {
                                            var list = Model.Sections(Html.LoggedInUser()).Where(w => w is ListWidget).ElementAt(listNo) as ListWidget;
                                            <li class="tab @(listNo == 0 ? "active" : "")">
                                                <a data-toggle="tab" href="#tab-@listNo">
                                                    @list.Name
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="col-sm-8">
                                <div class="tab-content" style="padding: 0;">
                                    @for (var listNo = 0; listNo < Model.Sections(Html.LoggedInUser()).Where(w => w is ListWidget).Count(); listNo++)
                                    {
                                        var list = Model.Sections(Html.LoggedInUser()).Where(w => w is ListWidget).ElementAt(listNo) as ListWidget;

                                        <div id="tab-@listNo" class="tab-pane fade in @(listNo == 0 ? "active" : "")">
                                            <h3 class="box-title m-b-0">@list.Name</h3>
                                            <table id="listWidget_@listNo" class="table table-striped">
                                                <thead style="display: none">
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (list.Items != null || list.Items.Count() > 0)
                                                    {
                                                        foreach (var item in list.Items)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <div>
                                                                        <div class="media-left">
                                                                            <a href="@item.GetUrl(Html.LoggedInUser(), Url)" @Html.Raw(item is Attachment ? "target=\"_blank\"" : "")>
                                                                                <i class="ti-user" style="font-size: 40px;"></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="media-body">
                                                                            <h4 class="media-heading">@item.Description(Html.LoggedInUser())</h4>
                                                                            <em class="ellipsis">@item.ActualType().Name.DisplaySafeName()</em>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                            <link href="https://static.realtair.com/ample/plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
                                            <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />

                                            <script type="text/javascript" src="https://static.realtair.com/ample/plugins/bower_components/datatables/jquery.dataTables.min.js" async="async"></script>
                                            <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>

                                            <script>
                                                $(document).ready(function () {
                                                    //$('#listWidget_@listNo').DataTable({
                                                    //    "bFilter": true,
                                                    //    "bInfo": false,
                                                    //    "sorting": false,
                                                    //    "bLengthChange": false
                                                    //});
                                                });
                                            </script>

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }*@
    </div>
</div>

<footer class="footer text-center hidden-xs">Powered by Realtair</footer>
