@using Realtair.Framework.Core.Web
@using Realtair.Framework.Core.Web.Utilities
@model Realtair.Framework.Core.Web.Controllers.EnquiryController.EnquiryViewModel
@using Realtair.Framework.Enquiries.Entities;

@Html.Partial("Menu")

<div id="page-wrapper" class="with-background">
    <div class="container">
        <!-- .chat-row -->
        <div class="chat-main-box">
            <!-- .chat-left-panel -->
            <div class="chat-left-aside">
                <div class="open-panel"><i class="ti-angle-right"></i></div>
                <div class="chat-left-inner">
                    <div class="chat-left-header text-truncate">
                        <button class="chat-left-back btn btn-block btn-default" onclick="location.href = '/';">
                            <i class="fa fa-angle-left"></i>
                        </button>
                        <div class="chat-left-description">
                            @Model.Workflow.Extension.Description(Html.LoggedInUser())
                        </div>
                    </div>
                    <ul class="chatonline style-none ">
                        @foreach (var user in Model.Conversation.Users.Where(u => u != Html.LoggedInUser()))
                        {                            
                            <li>
                                <a href="javascript:void(0)"><span class="img-circle">@(user.Person.Initials)</span> <span>@user.Person.Name<small class="text-success">@(user.Role == null ? "Unknown" : user.Role.Description(Html.LoggedInUser()))</small></span></a>                                
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <!-- .chat-left-panel -->
            <!-- .chat-right-panel -->
            <div class="chat-right-aside">
                <div class="chat-box">
                    <div class="messagebox">
                        @Html.Partial("Timeline", Model.Timeline)
                    </div>
                    <div class="row send-chat-box">
                        <!-- Action Buttons -->
                        <div id="actionForms" style="padding-top: 10px; background: #fff;" class="col-sm-12">
                            @foreach (var action in Model.Workflow.Extension.Actions().WithAccess(Html.LoggedInUser(), ViewContext.DbContext()))
                            {
                                <form class="inline" action="@action.GetUrl(Url)" method="@(action.Fields.Count() >= 1 ? "GET" : "POST")">
                                    <input name="ReturnUrl" type="hidden" value="@Request.Url.AbsolutePath" />
                                    <button class="btn btn-sm btn-info btn-outline btn-rounded m-l-10 m-b-10" type="submit">@action.Description(Html.LoggedInUser())</button>
                                </form>
                            }
                        </div>
                        <!-- End of Action Buttons -->
                        <!-- -------------------------------------------------- -->
                        <!--  -->
                        <div class="col-sm-12 newmessage">
                            <div id="file-attachment" class="file-attachment" style="display: none;">
                                <div id="file-attachment-thumbnails" class="file-attachment-thumbnails ellipsis">
                                    <span class="preview">
                                        <img data-dz-thumbnail />
                                        <a data-dz-remove class="close-file"><i class="fa fa-times"></i></a>
                                    </span>
                                </div>
                            </div>
                            <div id="file-attachment-progress" class="file-attachment-progress">
                                <h3>Uploading...</h3>
                            </div>
                            <textarea class="form-control chat-box" placeholder="Type your message" name="messageText" id="messageText"></textarea>
                            <div class="custom-send">                                
                                <a id="attach-file" class="cst-icon" href="#" title="#"><i class="fa fa-paperclip"></i></a>
                                <button type="button" id="send-button" class="btn btn-danger btn-rounded">Send</button>
                            </div>
                        </div>
                    </div>                    
                </div>
                <!-- .chat-right-panel -->
            </div>
            <!-- /.chat-row -->
        </div>
    </div>
</div>
<!-- /#page-wrapper -->

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>
    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <!--  Controls are self-explanatory. Order can be changed. -->
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://static.realtair.com/css/photoswipe.css" />

@section Scripts {
    <script src="https://static.realtair.com/js/jquery.easing.min.js"></script>
    <script src="https://static.realtair.com/js/photoswipe.min.js"></script>
    <script src="https://static.realtair.com/js/photoswipe-ui-default.min.js"></script>

    <script src="https://static.realtair.com/js/chat.js"></script>
    <script src="https://static.realtair.com/js/dropzone.js"></script> 

    <script>
        // Setup preview node...
        var previewNode = document.querySelector("#file-attachment-thumbnails");
        previewNode.id = "";
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);

        // Setup progress node...
        var progressNode = document.querySelector('#file-attachment-progress');
        progressNode.id = '';
        var progressTemplate = progressNode.parentNode.innerHTML;
        progressNode.parentNode.removeChild(progressNode);

        // Initialize Dropzone
        var dz = new Dropzone(document.body, {
            url: '/',
            thumbnailWidth: null,
            thumbnailHeight: null,
            parallelUploads: 10,
            previewTemplate: previewTemplate,
            autoQueue: false,
            previewsContainer: '#file-attachment',
            clickable: '#attach-file',
            init: function () {
                this.on('addedfile', function (file) {
                    var query = $('#file-attachment');
                    if (!query.is(':visible')) {
                        query.find('img').attr('style','height: 40px; width: 40px;');
                        query.show();
                    }
                });
            }
        });

        // On-click Handlers
        $('#send-button').click(function () {
            sendMessage();
            dz.removeAllFiles(true);
        });

    </script>
    <script>
        var tempSentMessageId = 0;
        var pollTime = 1000 * 10;       
        
        //$('.chat-list').slimScroll({            
        //    start: 'bottom'
        //});
        
        //$("#messageText").focus();                
        
        //$('.slimScrollDiv').css("height", "");    
        
        //$('.sidebar').css("border-bottom", "20px solid #F2F2F3");
        //$('#page-wrapper').css("padding-top"," 130px");
        //$('body').css("overflow-y", "hidden");

        $(document).ready(function () {
            $('#selectPhotosBtn').click(function () {
                $('#modal-attachments').find('.picked').each(function () {
                    var image = $(this).find('img').attr('src');
                    var storageguid = $(this).find('img').attr('storageguid');
                    $('.file-attachment-thumbnails').append($('<div class="existing-preview" storageguid="' + storageguid + '" style="background-image: url(' + image + ')"><a class="close-file"><i class="fa fa-times"></i></a><input type="hidden" name="existingAttachments" value="' + storageguid + '"></div>'));
                    $('.file-attachment, .file-attachment-thumbnails').show();
                    $(this).toggleClass("picked");

                    $('.existing-preview').each(function () {
                        var $this = $(this);
                        $(this).find('a.close-file').click(function () { $this.remove(); });
                    });
                });
            });

            /* Auto popup gallery */
            var url = window.location.href;
            var hash = url.substring(url.indexOf('#') + 1);
            var queries = hash.split("&");
            for (var i = 0; i < queries.length; i++) {
                if (queries[i].includes("pid")) {
                    var pid = queries[i].split("=")[1];
                    $('#' + pid).trigger('click');
                }
            }

            var textarea = document.querySelector('textarea[name=messageText]');
            textarea.addEventListener('keydown', autosize);

            function autosize() {
                var el = this;
                setTimeout(function () {
                    el.style.cssText = 'height:auto; padding:0';
                    // for box-sizing other than "content-box" use:
                    // el.style.cssText = '-moz-box-sizing:content-box';
                    el.style.cssText = 'height:' + el.scrollHeight + 'px';
                }, 0);
            }

            if (navigator.userAgent.match(/iPhone/i)) {                
                $(".chat-list > li:last-child").css("padding-bottom", "100px");                
            }

            setTimeout(function () { $('body').scrollTop(parseInt($('.chat-list')[0].scrollHeight), "slow"); }, 3000);
        });

        function sendMessage() {
            tempSentMessageId++;

            var messageId = "sent-" + tempSentMessageId;
            var messageText = $('textarea[name=messageText]').val();
            var attachments = $(".file-attachment .preview");
            var existingAttachments = $(".file-attachment .existing-preview");
            var files = dz.files.map(function (a, i) {
                return `${a.name}|${$('span.preview > img', a.previewTemplate).attr('src')}`;
            });

            var message = $('<li class="odd">' +
                            '<div class="chat-image"> <span class="img-circle">@Html.LoggedInUser().Person.Initials</span> </div>' +
                            '    <div class="chat-body">' +
                            '        <div class="chat-text">' +
                            '            <h4>@(Html.LoggedInUser().Person.FirstName[0])@(Html.LoggedInUser().Person.LastName[0])</h4>' +
                            '            <p> ' + messageText + ' </p>' +                            
                            '        </div>' +
                            '    </div>' +
                            '</li>');
            //var formToSubmit = $("#send-message-form").serialize();

            $('ul.chat-list').append(message);            

            $('textarea[name=messageText]').val('');
            $('textarea[name=messageText]').css('height', '60px');
            $('.file-attachment-thumbnails').empty().hide();
            $('#file-attachment').hide();

            if (attachments.length > 0 || jQuery.trim(messageText).length > 0 || existingAttachments.length > 0) {

                var baseMainHeight = $(document).height();
                $('html,body').animate({ scrollTop: $(document).scrollTop() + $(document).height() - baseMainHeight }, "fast");

                $.ajax({
                    url: '/enquiry/@Model.Workflow.Id/chat/@Model.Conversation.Id/send-message',
                    type: "POST",
                    data: {
                        messageText: messageText,
                        attachments: files
                    },
                    enctype: 'multipart/form-data',
                    success: function (insertedId) {
                        doPoll();                        
                    },
                    error: function (data) {
                        window.location.href = "/";
                    }
                });

            }
        }

        function doPoll() {
            $.ajax({
                url: '/enquiry/@Model.Workflow.Id/chat/@Model.Conversation.Id/get-updated-timeline?isActive=' + true,
                type: 'GET',
                success: function (data) {

                    var baseMainHeight = $(document).height();

                    $('.messagebox').children().not('.sending').remove();
                    $(".messagebox").prepend(data);
                    
                    //$('.chat-list').slimScroll({
                    //    start: 'bottom'
                    //});
                    //$('.slimScrollDiv').css("height", "");
                    if (navigator.userAgent.match(/iPhone/i)) {
                        $(".chat-list > li:last-child").css("padding-bottom", "100px");
                    }

                    setTimeout(doPoll, pollTime);
                },
                error: function (data) {
                    window.location.href = "/";
                }
            });
        }
    </script>
}

@section Styles {
    <link href="https://static.realtair.com/css/dropzone/basic.css" rel="stylesheet">
    <link href="https://static.realtair.com/css/dropzone/dropzone.css" rel="stylesheet">
}