@using Realtair.Framework.Core.Web.Utilities
@model IEnumerable<Realtair.Framework.Core.Interfaces.ITimelineItem>
@using Realtair.Framework.Enquiries.Entities;

@{ Layout = ""; }
@{ var attachmentId = 0; }

<ul class="chat-list slimscroll p-t-30">
    @foreach (var timelineItem in Model)
    {
        if (timelineItem is TimelineEvent)
        {
            var thisState = timelineItem as TimelineEvent;

            var typeString = "";
            if (thisState.Type == TimelineEvent.EventType.Progress)
            {
                typeString = "panel-success";
            }

            if (thisState.Type == TimelineEvent.EventType.Info)
            {
                typeString = "panel-info";
            }

            if (thisState.Type == TimelineEvent.EventType.Warning)
            {
                typeString = "panel-warning";
            }

            if (thisState.Type == TimelineEvent.EventType.Exception)
            {
                typeString = "panel-danger";
            }

            <li class="@(thisState.UserResponsible == Html.LoggedInUser() ? "odd" : "")">
                <div class="chat-image">
                    <span class="img-circle">@(thisState.UserResponsible.Person.Initials)</span>
                </div>
                <div class="chat-body panel @typeString">
                    <div class="panel-heading text-center">
                        <p>@thisState.Description(Html.LoggedInUser())</p>
                    </div>

                    @if (thisState.Details(Html.LoggedInUser()).Count() > 0)
                    {
                        <div class="panel-body">
                            <ul>
                                @foreach (var describable in thisState.Details(Html.LoggedInUser()))
                                {
                                    <li><strong>@describable.Key:</strong> @Html.Render(Url, describable.Value)</li>
                                }
                            </ul>
                        </div>
                    }

                    @if (thisState.Actions().WithAccess(Html.LoggedInUser(), ViewContext.DbContext()).Count() > 0)
                    {
                        <div class="panel-body">
                            @foreach (var action in thisState.Actions().WithAccess(Html.LoggedInUser(), ViewContext.DbContext()))
                            {
                                <form class="inline" action="@action.GetUrl(Url)" method="@(action.Fields.Count() >= 1 ? "GET" : "POST")">
                                    <input name="ReturnUrl" type="hidden" value="@Request.Url.AbsolutePath" />
                                    <button class="btn btn-sm btn-default btn-rounded m-l-5 m-r-5" type="submit">@action.Description(Html.LoggedInUser())</button>
                                </form>
                            }
                        </div>
                    }

                    @if (thisState is IShowAttachments)
                    {
                        <div class="file-attachment text-center panel-body">
                            @foreach (var attachment in (thisState as IShowAttachments).Attachments)
                            {
                                if (attachment.IsImage)
                                {
                                    <a href="@attachment.GetUrl(0)" class="gallery-item text-center" id="@attachmentId" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject" data-pid="@attachmentId" data-caption="" data-width="1600" data-height="1200">
                                        <img src="@Html.Raw(attachment.GetUrl(100))" style="width: 100px !important; height: 100px !important;" alt="#" itemprop="thumbnail">
                                    </a>
                                }
                                else
                                {
                                    <a href="@attachment.GetUrl(0)" class="text-center" target="_blank">
                                        <img src="https://realtair.com/Content/img/icon-pdf.png" alt="#" width="80" height="80">
                                    </a>
                                }
                            }
                        </div>
                    }

                    <div class="panel-footer">
                        <b class="time">@thisState.TimelineDate.UTCToLocal().ToString("d MMM yyyy") <span> - @thisState.TimelineDate.UTCToLocal().ToString("h:mm tt")</span></b>
                    </div>
                </div>
            </li>
        }
        else if (timelineItem is Message)
        {
            var thisMessage = timelineItem as Message;

            if (thisMessage.User != Html.LoggedInUser())
            {
                <li>
                    <div class="chat-image"> <span class="img-circle">@(thisMessage.User.Person.Initials)</span> </div>
                    <div class="chat-body">
                        <div class="chat-text">
                            <h4>@thisMessage.User.Person.Description(Html.LoggedInUser())</h4>
                            <p> @Html.TextToHtml(thisMessage.Content)</p>

                            @if (thisMessage.Attachments.Count > 0)
                            {
                                <div class="file-attachment text-right m-t-10 m-b-10">
                                    @foreach (var attachment in thisMessage.Attachments)
                                    {
                                        if (attachment.IsImage)
                                        {
                                            <a href="@attachment.GetUrl(0)" class="gallery-item text-center" id="@attachmentId" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject" data-pid="@attachmentId" data-caption="" data-width="1600" data-height="1200">
                                                <img src="@Html.Raw(attachment.GetUrl(100))" class="img-rounded" alt="#" width="80" height="80">
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@attachment.GetUrl(0)" class="text-center" target="_blank">
                                                <img src="https://realtair.com/Content/img/icon-pdf.png" class="img-rounded" alt="#" width="80" height="80">
                                            </a>
                                        }
                                    }
                                </div>
                            }
                            <b>@thisMessage.TimelineDate.UTCToLocal().ToString("d MMM yyyy") <span> - @thisMessage.TimelineDate.UTCToLocal().ToString("h:mm tt")</span></b>
                        </div>
                    </div>
                </li>
            }
            else
            {
                <li class="odd">
                    <div class="chat-image"> <span class="img-circle">@(thisMessage.User.Person.Initials)</span> </div>
                    <div class="chat-body">
                        <div class="chat-text">
                            <h4>@thisMessage.User.Person.Description(Html.LoggedInUser())</h4>
                            <p> @Html.TextToHtml(thisMessage.Content) </p>
                            @if (thisMessage.Attachments.Count > 0)
                            {
                                <div class="gallery file-attachment text-right m-t-10 m-b-5">
                                    @foreach (var attachment in thisMessage.Attachments)
                                    {
                                        if (attachment.IsImage)
                                        {
                                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                                <a href="@attachment.GetUrl(0)" class="gallery-item text-center" id="@attachmentId" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject" data-pid="@attachmentId" data-caption="" data-width="1600" data-height="1200">
                                                    <img src="@Html.Raw(attachment.GetUrl(100))" class="img-rounded" alt="#" width="80" height="80">
                                                </a>
                                            </figure>
                                        }
                                        else
                                        {
                                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                                <a href="@attachment.GetUrl(0)" class="text-center" target="_blank">
                                                    <img src="https://realtair.com/Content/img/icon-pdf.png" class="img-rounded" alt="#" width="80" height="80">
                                                </a>
                                            </figure>
                                        }
                                    }
                                </div>
                            }
                            <b>@thisMessage.TimelineDate.UTCToLocal().ToString("d MMM yyyy") <span> - @thisMessage.TimelineDate.UTCToLocal().ToString("h:mm tt")</span></b>
                        </div>
                    </div>
                </li>
            }
        }
    }
</ul>

<script src="https://static.realtair.com/js/gallery.js"></script>