@model Realtair.Framework.Core.Actions.Field
@{
    var attribute = Model.FieldAttribute as Realtair.Framework.Core.Actions.FieldAttributes.CheckboxFieldAttribute;
}

<div class="form-group">
    <div class="col-md-3 col-sm-4">
        <label class="control-label">@Model.Label</label>
    </div>

    <div class="col-md-9 col-sm-8" style="padding-top: 8px;">
        <label class="radio-inline">
            <input type="radio" name="@Model.UniqueName" value="true" @(Convert.ToBoolean(Model.Value) ? "checked='checked'" : "")> @attribute.LabelForTrue<br>
        </label>
        <label class="radio-inline">
            <input type="radio" name="@Model.UniqueName" value="false" @(!Convert.ToBoolean(Model.Value) ? "checked='checked'" : "")> @attribute.LabelForFalse<br>
        </label>
    </div>
</div>