@using Realtair.Framework.Core.Interfaces
@using System.Text.RegularExpressions
@model Realtair.Framework.Core.Entities.Display.DataTableWidget

@{
    Guid guid = Guid.NewGuid();
    string uniqueId = guid.ToString();
}
<div class="panel panel-default">
    <div class="panel-heading @uniqueId">@Model.Name</div>
    <div class="panel-wrapper collapse in">
        <table id="@uniqueId" class="table table-striped">
            @if (Model.Header != null)
            {
                <thead>
                    <tr>
                        @foreach (var column in Model.Header)
                        {
                            <th class="col-xs-@(column.ColumnWidth)">@column.Name</th>
                        }
                    </tr>
                </thead>
            }
            <tbody>
                @foreach (var row in Model.Contents)
                {
                    <tr>
                        @foreach (var column in row)
                        {
                            DateTime dt = new DateTime();
                            if (column == null)
                            {
                                <td>&nbsp;</td>
                            }
                            else if (column is Attachment)
                            {
                                <td><a href="@Html.Raw((column as Attachment).Url(0))" target="_blank">View</a></td>
                            }
                            else if (column is IDisplayable)
                            {
                                <td>@Html.Render(Url, column)</td>
                            }
                            else if (Regex.IsMatch(column.ToString(), @"^(ht|f|sf)tp(s?)\:\/\/[0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*(:(0-9)*)*(\/?)([a-zA-Z0-9\-\.\?\,\'\/\\\+&amp;%\$#_]*)?$"))
                            {
                                <td><a href="@column" target="_blank">@column</a></td>
                            }
                            if (DateTime.TryParse(column.ToString(), out dt))
                            {
                                Int32 unixTimestamp = (Int32)(dt.Subtract(new DateTime(1970, 1, 1))).TotalSeconds;
                                <td data-order="@unixTimestamp">@column</td>
                            }
                            else
                            {
                                <td>@column</td>
                            }
                        }
                    </tr>
                }
            </tbody>
            @if (Model.Totals != null)
            {
                <tfoot>
                    <tr>
                        @foreach (var total in Model.Totals)
                        {
                            <th>
                                @total
                            </th>
                        }
                    </tr>
                </tfoot>
            }
        </table>
    </div>
</div>

@using (Html.Delayed(null, "data-table-widget"))
{
    <style type="text/css">
        .dataTables_wrapper {
            position: relative;
        }
        .dt-buttons {
            float: right;
            top: -55px;
            right: 10px;
            position: absolute;
        }

        .dt-buttons>a.buttons-excel>span{
            display: inherit;
        }
        button.dt-button, div.dt-button, a.dt-button {
            color: inherit;
        }
    </style>
    @* DataTables *@
    <script src="https://static.realtair.com/plugins/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>

    @* DataTables - Buttons *@
    <script src="https://static.realtair.com/plugins/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="https://static.realtair.com/plugins/bower_components/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="https://static.realtair.com/plugins/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="https://static.realtair.com/plugins/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>

    @* DataTables - For Exporting to Excel *@
    <script src="https://static.realtair.com/plugins/bower_components/jszip/dist/jszip.min.js"></script>

    @* DataTables - Responsive *@
    <script src="https://static.realtair.com/plugins/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
}

@using (Html.Delayed())
{
    <script>
        $(document).ready(function () {
            var options = $.extend({}, {
                "searching": false,
                "lengthChange": false,
                "paging": false,
                "bInfo": false,
                "responsive": true,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        title: '@Model.Name'
                    },
                    'print'
                ]
            });

            $('#@uniqueId').DataTable(options);
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.dt-buttons>a.buttons-excel>span').replaceWith('<div><i class="mdi mdi-table-large"></i><span>Export</span></div>');
            $('.dt-buttons>a.buttons-print>span').replaceWith('<div><i class="mdi mdi-printer"></i><span>Print</span></div>');
        });
    </script>
}