@model Realtair.Framework.Core.Entities.Display.GalleryWidget

<link rel="stylesheet" type="text/css" href="https://static.realtair.com/plugins/bower_components/gallery/css/animated-masonry-gallery.css" />
<link rel="stylesheet" type="text/css" href="https://static.realtair.com/plugins/bower_components/fancybox/ekko-lightbox.min.css" />
<link rel="stylesheet" type="text/css" href="https://static.realtair.com/css/photoswipe.css" />

<div class="panel">
    <div class="panel-heading">@Model.Name</div>
    <div class="panel-wrapper collapse in">
        <div class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
            @{
                bool isFirstImg = true;
                foreach (var item in Model.Items.Where(i => i != null))
                {
                    if (isFirstImg)
                    {
                        <figure itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                            <a href="@item.Url(0)" class="gallery-item" itemprop="contentUrl">
                                <img src="@item.Url(0)" style="width: 100%; height: 100%;" />
                            </a>
                        </figure>
                        isFirstImg = false;
                    }
                    else {
                        <figure itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject" style="display: none">
                            <a href="@item.Url(0)" class="gallery-item" itemprop="contentUrl">
                                <img src="@item.Url(0)" />
                            </a>
                        </figure>
                        }
                    }
                }

            
        </div>
    </div>
</div>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>
    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <!--  Controls are self-explanatory. Order can be changed. -->
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

<script src="https://static.realtair.com/js/jquery.easing.min.js"></script>
<script src="https://static.realtair.com/js/photoswipe.min.js"></script>
<script src="https://static.realtair.com/js/photoswipe-ui-default.min.js"></script>
<script src="https://static.realtair.com/js/gallery.js"></script>