@using Realtair.Framework.Core.Interfaces
@using Realtair.Framework.Core.Web.Utilities
@using System.Text.RegularExpressions
@model Realtair.Framework.Core.Entities.Display.TableWidget

<div class="panel panel-default">
    <div class="panel-heading">@Model.Name</div>
    <div class="panel-wrapper collapse in">
        <table class="table">
            @if (Model.Header != null)
            {
            <thead>
                <tr>                
                    @foreach (var column in Model.Header)
                    {
                        <th class="col-xs-@(column.ColumnWidth)">@column.Name</th>
                    }
                </tr>
            </thead>
            }
            <tbody>
                @foreach (var row in Model.Contents)
                {
                    <tr>
                        @foreach (var column in row)
                        {
                            if (column is Attachment)
                            {
                                <td><a href="@Html.Raw((column as Attachment).Url(0))" target="_blank">View</a></td>
                            }
                            else if (column is IDisplayable)
                            {
                                <td>@Html.Render(Url, column)</td>
                            }
                            else if (column.ToString().IsValidUrl())
                            {
                                <td><a href="@column" target="_blank">View</a></td>
                            }

                            @*else if (Regex.IsMatch(column.ToString(), @"^(ht|f|sf)tp(s?)\:\/\/[0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*(:(0-9)*)*(\/?)([a-zA-Z0-9\-\.\?\,\'\/\\\+&amp;%\$#_]*)?$"))
                            {
                                <td><a href="@column" target="_blank">@column</a></td>
                            }*@
                            else
                            {
                                    <td>@column</td>
                                }
                            }
                    </tr>
                }

                @if (Model.Totals != null)
                {
                    <tr class="bg-inverse text-white">
                        @foreach (var total in Model.Totals)
                        {
                            <td>
                                @total
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>