@using Realtair.Framework.Core.Entities 
@model Realtair.Framework.Core.Actions.Field
@{
    Address Address = null;
    if (Model.Value != null)
    {
        Address = (Address)Model?.Value;
    }
}
@if (Model.HasError)
{
    <div class="form-group has-error">
        <label class="col-sm-3 control-label">@Model.Label</label>
        <div class="col-sm-9">
            <input autofocus type="text" class="form-control lite" id="@(Model.UniqueName)_line_1" placeholder="Address Line 1" value="@(Address?.AddressLine1)">
            <small>@Model.FieldAttribute.Help</small>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-@(Model.Label.Count() > 40 ? "12" : "3") control-label"></label>
        <div class="col-sm-9">
            <input autofocus type="text" class="form-control lite" id="@(Model.UniqueName)_line_2" placeholder="Address Line 2" value="@(Address?.AddressLine2)">
            <small></small>
        </div>
    </div>
    <div class="form-group has-error">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-4">
            <input autofocus type="text" class="form-control lite" id="@(Model.UniqueName)_suburb" placeholder="Suburb" value="@(Address?.Suburb)">
            <span class="help-block has-error">@Model.ErrorMessage</span>
        </div>
        <div class="col-xs-6 col-sm-3">
            <input autofocus type="text" class="form-control lite" id="@(Model.UniqueName)_state" placeholder="State" value="@(Address?.State)">
        </div>
        <div class="col-xs-6 col-sm-2">
            <input autofocus type="text" class="form-control lite" id="@(Model.UniqueName)_postcode" placeholder="Post Code" value="@(Address?.Postcode)">
        </div>
    </div>

}
else
{
    <div class="form-group">
        <label class="col-sm-@(Model.Label.Count() > 40 ? "12" : "3") control-label">@Model.Label</label>
        <div class="col-sm-9">
            <input autofocus type="text" class="form-control lite" id="@(Model.UniqueName)_line_1" placeholder="Address Line 1" value="@(Address?.AddressLine1)">
            <small>@Model.FieldAttribute.Help</small>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
            <input autofocus type="text" class="form-control lite" id="@(Model.UniqueName)_line_2" placeholder="Address Line 2" value="@(Address?.AddressLine2)">
            <small></small>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-4">
            <input autofocus type="text" class="form-control lite" id="@(Model.UniqueName)_suburb" placeholder="Suburb" value="@(Address?.Suburb)">
        </div>
        <div class="col-xs-6 col-sm-3 address-mobile">
            <input autofocus type="text" class="form-control lite" id="@(Model.UniqueName)_state" placeholder="State" value="@(Address?.State)">
        </div>
        <div class="col-xs-6 col-sm-2 address-mobile">
            <input autofocus type="text" class="form-control lite" id="@(Model.UniqueName)_postcode" placeholder="Post Code" value="@(Address?.Postcode)">
        </div>
    </div>
}


<input autofocus id="@(Model.UniqueName)_streetName" type="hidden" value="@(Address?.StreetName)">
<input autofocus id="@(Model.UniqueName)_streetType" type="hidden" value="@(Address?.StreetType)">
<input autofocus id="@(Model.UniqueName)_streetNumber" type="hidden" value="@(Address?.StreetNumber)">
<input autofocus name="@Model.UniqueName" id="@Model.UniqueName" type="hidden" value="@if (Address != null) { @Address.Serialize() }"/>


<script>
(function () {
    var serialised = document.getElementById('@Model.UniqueName')
    var line_1 = document.getElementById('@(Model.UniqueName)_line_1');
    var line_2 = document.getElementById('@(Model.UniqueName)_line_2');
    var suburb = document.getElementById('@(Model.UniqueName)_suburb');
    var state = document.getElementById('@(Model.UniqueName)_state');
    var postcode = document.getElementById('@(Model.UniqueName)_postcode');
    var streetNumber = document.getElementById('@(Model.UniqueName)_streetNumber');
    var streetName = document.getElementById('@(Model.UniqueName)_streetName');
    var streetType = document.getElementById('@(Model.UniqueName)_streetType');

    var widget, initAF = function () {
    widget = new AddressFinder.Widget(
        document.getElementById('@(Model.UniqueName)_line_1'),
        'YVBDJGHTNMLPEW46K73Q',
        'AU',
    {
    });

    widget.on('result:select', function (fullAddress, metaData) {
        line_1.value = metaData.address_line_1;
        line_2.value = metaData.address_line_2;
        suburb.value = metaData.locality_name;
        state.value = metaData.state_territory;
        postcode.value = metaData.postcode;
        streetNumber.value = getStreetNumber(metaData);
        streetName.value = metaData.street_name;
        streetType.value = metaData.street_type;
        generateJson();
        });
    };

    function getStreetNumber(m) {
        return (m.street_number_1 && !m.street_number_2) && '${m.street_number_1}' ||
            ((m.street_number_1 && m.street_number_2) && '${m.street_number_1}-${m.street_number_2}') ||
            (m.lot_identifier);
    }

    function downloadAF(f) {
        var script = document.createElement('script');
        script.src = 'https://api.addressfinder.io/assets/v3/widget.js';
        script.async = true;
        script.onload = f;
        document.body.appendChild(script);
    };

    document.addEventListener('DOMContentLoaded', function () {
        downloadAF(initAF);
    });

    $(line_1).change(generateJson);
    $(line_2).change(generateJson);
    $(suburb).change(generateJson);
    $(state).change(generateJson);
    $(postcode).change(generateJson);
    $(streetNumber).change(generateJson);
    $(streetName).change(generateJson);
    $(streetName).change(generateJson);

    function generateJson() {
        serialised.value = JSON.stringify({
            AddressLine1: line_1.value,
            AddressLine2: line_2.value,
            Suburb: suburb.value,
            Postcode: postcode.value,
            State: state.value,
            StreetNumber: streetNumber.value,
            StreetName: streetName.value,
            StreetType: streetType.value
        });
    }
})();
</script>