@model Realtair.Framework.Core.Actions.Field

@{
    var attribute = Model.FieldAttribute as Realtair.Framework.Core.Actions.FieldAttributes.DateTimeFieldAttribute;
    var Date = Convert.ToDateTime(Model.Value);

}

<div class="form-group">
    <div class="col-md-3 col-sm-4">
        <label class="control-label">@Model.Label</label>
    </div>

    <div class="col-md-9 col-sm-8">
        <input 
               name="@Model.UniqueName" 
               type="date" 
               value="@if (Date > DateTime.MinValue) { @Date.ToString("yyyy-MM-dd") }"
               @Html.Raw(attribute != null && !attribute.AllowPastDates ? "min=\""+DateTime.Now.ToString("yyyy-MM-dd")+"\"" : "")
               class="form-control">
        @if (Model.HasError)
        {
            <span class="help-block">@Model.ErrorMessage</span>
        }
    </div>
</div>
