@model Realtair.Framework.Core.Actions.Field

@{
    var attribute = Model.FieldAttribute as Realtair.Framework.Core.Actions.FieldAttributes.DateTimeFieldAttribute;
    var Date = Convert.ToDateTime(Model.Value);
    var dateFormat = "yyyy-MM-dd";
}

<div class="form-group">
    <label class="col-sm-3 control-label">@Model.Label</label>
    <div class="col-sm-3" id="datepicker">
            <input type="text" class="form-control lite mydatepicker" id="@Model.UniqueName" name="@Model.UniqueName" placeholder="Click to select date" value="@if (Date > DateTime.MinValue) { @Date.ToString(dateFormat) }">
            @if (Model.HasError)
            {
                <span class="help-block">@Model.ErrorMessage</span>
            }
    </div>
</div>

@using (Html.Delayed(null))
{
    <link rel="stylesheet" href="https://static.realtair.com/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css" type="text/css" />
    <script src="https://static.realtair.com/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script>
        $(function () {
            var cal = $('#@Model.UniqueName').datepicker({
                format: 'yyyy-mm-dd',
                startDate: new Date(2000, 0, 1),
                @Html.Raw(attribute != null && !attribute.AllowPastDates ? "startDate: '+0d'," : "")
                autoclose: true,
                clearBtn: true, 
                orientation: 'auto bottom',
                todayHighlight: true, 
                container: '#datepicker'
            });

            cal.keydown(function (event) {
                if (event.which == 13) { //enter key
                    cal.blur();
                }
            });;

            cal.on('blur', function () {
                if (isNaN(Date.parse($this.val()))) {
                    cal.val('');
                }
            });
        })
    </script>
    <script>
        $(function () {
            $('.mydatepicker').datepicker({
                format: 'yyyy-MM-dd',
                todayHighlight: true,
                orientation: 'auto bottom',
                startDate: '+0d',
                autoclose: true
            })
        })
    </script>
}