@model Realtair.Framework.Core.Actions.Field

@if (Model.HasError)
{
    <label style="color:red">@Model.FieldAttribute.Label</label>
    <input autofocus name="@Model.UniqueName" type="file" />
    <small style="color:red">@Model.ErrorMessage</small>
}
else
{
    <label>@Model.FieldAttribute.Label</label>
    <input autofocus name="@Model.UniqueName" type="file" />
}
