@model Realtair.Framework.Core.Actions.Field

@{
    var attribute = Model.FieldAttribute as Realtair.Framework.Core.Actions.FieldAttributes.OptionsFieldAttribute;
    var options = attribute.Options(Model.Action, Html.LoggedInUser());
    var hopefullyUniqueId = Math.Abs(Model.GetHashCode());
}

<div class="form-group">
    <label class="col-sm-2 control-label">@Model.Label</label>
    <div class="col-sm-8">
        @if (options.Count() == 0)
        {
            <select id="@hopefullyUniqueId" class="form-control lite" disabled>
                <option>None to display</option>
            </select>
        }
        else
        {
            <select id="@hopefullyUniqueId" class="form-control lite" name="@Model.PropertyInfo.Name">
                @foreach (var option in options)
                {
                    <option @(option.Id.ToString() == Model.FormValue.ToString() ? "selected" : "") value="@option.Id.ToString()">@option.Description</option>
                }
            </select>
        }

        <script src="https://static.realtair.com/plugins/select2/js/select2.min.js"></script>
        <script>
            $(window).resize(function () {
                $('.select2').css('width', "100%");
            });

    	    $('#@(hopefullyUniqueId)').select2();
        </script>
    </div>
</div>

