@model Realtair.Framework.Core.Actions.Field

@if (Model.HasError)
{
    <div class="form-group has-error">
        <label for="inputEmail3" class="col-sm-3 control-label">@Model.Label</label>

        <div class="col-sm-9">
            <textarea class="form-control input-lg rich-text-area" cols="20" id="@Model.UniqueName" name="@Model.UniqueName" placeholder="@Model.Label" rows="20" style="resize: none; width: 400px; display: none;">
                @Model.Value
            </textarea>
            <span class="help-block">@Model.ErrorMessage</span>
        </div>
    </div>
}
else
{
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">@Model.Label</label>

        <div class="col-sm-9">
            <textarea class="form-control input-lg rich-text-area" cols="20" id="@Model.UniqueName" name="@Model.UniqueName" placeholder="@Model.Label" rows="20" style="resize: none; width: 400px; display: none;">
                @Model.Value
            </textarea>
        </div>
    </div>
}

<link rel="stylesheet" href="https://static.realtair.com/summernote/summernote.css" />
<script type="text/javascript" src="https://static.realtair.com/summernote/summernote.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.rich-text-area').summernote({
            height: 480,
            focus: true
        });
    });
</script>
