@using Realtair.Framework.Core.Data
@model Realtair.Framework.Core.Actions.Field

@{
    var attribute = Model.FieldAttribute as Realtair.Framework.Core.Actions.FieldAttributes.StatusFieldAttribute;
    var options = attribute.Options(Model.Action, Html.LoggedInUser());
    var hopefullyUniqueId = Math.Abs(Model.GetHashCode());
    var taskRecord = Model.Value as Realtair.Framework.Enquiries.Entities.TaskRecord;
}

<div class="form-group">
    <label class="col-sm-2 control-label">@Model.Label</label>
    <div class="col-sm-4">
        @if (options.Count() == 0)
        {
            <select id="@hopefullyUniqueId" class="form-control lite" disabled>
                <option>None to display</option>
            </select>
        }
        else
        {
            <select id="@hopefullyUniqueId" class="form-control lite" name="@Model.PropertyInfo.Name">
                @foreach (var option in options)
                {
                    <option @(option.Id.ToString() == taskRecord.GetStatusId(SingletonDbContext.Db).ToString() ? "selected" : "") value="@option.Id.ToString()">@option.Description</option>
                }
            </select>
        }

        <script src="https://static.realtair.com/plugins/select2/js/select2.min.js"></script>
        <script>
            $(window).resize(function () {
                $('.select2').css('width', "100%");
            });

            $('#@(hopefullyUniqueId)').select2();

            $('#@hopefullyUniqueId').change(function () {
                $.post(window.location.origin+"/task-record/@(taskRecord.Id)/run/update-task-status", { "status": $("#@hopefullyUniqueId").val() }, function (data) { });
            });
        </script>
    </div>
</div>

