@model Realtair.Framework.Core.Actions.Field
@using System.Text.RegularExpressions;

@if (Model.HasError)
{
    <div class="form-group has-error">
        <div class="col-sm-@(Model.Label.Count() > 40 ? "12" : "3") control-label">
            <label class="control-label">@Model.Label</label>
        </div>
        <div class="col-sm-@(Model.Label.Count() > 40 ? "12" : "9")">
            <input type="text" class="form-control lite" name="@Model.UniqueName" placeholder="@Model.FieldAttribute.Hint" value="@Model.Value">
            <span class="help-block">
            @{
                var newErrorMessage = Regex.Replace(Model.UniqueName, "(?<!^)_?([A-Z])", " $1");
                var errorMsg = "The " + newErrorMessage + " field is required.";
             }
                @errorMsg
            </span>
        </div>
    </div>
}
else
{
    <div class="form-group">
        <label class="col-sm-@(Model.Label.Count() > 40 ? "12" : "3") control-label">@Model.Label</label>
        <div class="col-sm-@(Model.Label.Count() > 40 ? "6" : "9")">
            <input type="text" class="form-control lite" name="@Model.UniqueName" placeholder="@Model.FieldAttribute.Hint" value="@Model.Value">
            <small>@Model.FieldAttribute.Help</small>
        </div>
    </div>
}
