@model Realtair.Framework.Core.Actions.Field

@if (Model.HasError)
{
    <div class="form-group has-error">
        <div class="col-sm-@(Model.Label.Count() > 20 ? "12" : "2") control-label">
            <label class="control-label">@Model.Label</label>
        </div>
        <div class="col-sm-@(Model.Label.Count() > 20 ? "12" : "10")">
            <input type="text" class="form-control lite" name="@Model.UniqueName" placeholder="@Model.FieldAttribute.Hint" value="@Model.Value">
            <span class="help-block">@Model.ErrorMessage</span>
        </div>
    </div>
}
else
{
    <div class="form-group">
        <label class="col-sm-@(Model.Label.Count() > 20 ? "12" : "2") control-label">@Model.Label</label>
        <div class="col-sm-@(Model.Label.Count() > 20 ? "6" : "10")">
            <input type="text" class="form-control lite" name="@Model.UniqueName" placeholder="@Model.FieldAttribute.Hint" value="@Model.Value">
            <small>@Model.FieldAttribute.Help</small>
        </div>
    </div>
}
