@model Realtair.Framework.Core.Actions.Field

@if (Model.HasError)
{
    <div class="form-group has-error">
        <label class="col-sm-3 control-label">@Model.Label</label>
        <div class="col-sm-9">
            <textarea name="@Model.UniqueName" class="form-control lite" rows="3" placeholder="...">@Model.Value</textarea>
            <span class="help-block">@Model.ErrorMessage</span>
        </div>
    </div>
}
else
{
    <div class="form-group">
        <label class="col-sm-3 control-label">@Model.Label</label>
        <div class="col-sm-9">
            <textarea name="@Model.UniqueName" class="form-control lite" rows="3" placeholder="...">@Model.Value</textarea>
            <small>@Model.FieldAttribute.Help</small>
        </div>
    </div>
}
